<div class="container mt-4">
  <h2 class="h5 fw-bold">マイページ</h2>

  <div class="card border border-secondary p-4 mb-5">
    <div class="d-flex align-items-center justify-content-between">
      
      <div class="d-flex align-items-center">

        <div>
          <div class="d-flex align-items-center mb-2">
            <h3 class="h4 fw-bold mb-0 me-2"><%= @user.name %></h3>
            <span class="badge rounded-pill px-3 py-2" style="background-color: #9b72b0;">
              <%= @user.mbti_type %>
            </span>
          </div>
          <p class="text-secondary mb-0">
            <%= @user.introduction %>
          </p>
        </div>
      </div>

      <% if Current.user == @user %>
      <div class="align-self-start">
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary btn-sm px-3" %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<br>
<br>

<h4>投稿一覧</h4>
<% @user.posts.each do |post| %>
  <%= post.title %><br>
  <%= post.updated_at %>
  <%= link_to "詳細", post_path(post) %><br><br><br>
<% end %>