<h4>投稿詳細</h4>
  <%= @post.title %>
   <%= @post.user.name %>
  <%= @post.body %>
  <%= @post.updated_at %>

<% if Current.user == @post.user %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
<% end %>

<hr>

<div class="comments-section">
  <h4>コメント一覧 (<%= @post.comments.count %>件)</h4>
  
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <div style="border-bottom: 1px solid #ddd; padding: 10px 0;">
        <strong><%= comment.user.name %></strong> 
        <small style="color: gray;"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></small>
        <p><%= comment.body %></p>

        <% if comment.user == Current.user %>
          <%= link_to "削除", post_comment_path(@post, comment), 
                      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, 
                      style: "color: red; font-size: 0.8em;" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>コメントはまだありません。</p>
  <% end %>
</div>

<br>

<div class="comment-form">
  <h5>コメントを投稿する</h5>
  <%= form_with model: [@post, @comment] do |f| %>
    <div>
      <%= f.text_area :body, rows: 3, placeholder: "コメントを入力...", style: "width: 100%; max-width: 400px;" %>
    </div>
    <div>
      <%= f.submit "送信" %>
    </div>
  <% end %>
</div>